---
import Greet from './Greet';
---

<div id="container">
	<main class="relative z-10 flex flex-col items-center justify-center h-screen">
        <section id="hero">
            <Greet client:only/>
		</section>
	</main>
</div>
